@model UcenikDodajVM
@{
    ViewData["Title"] = "UrediUcenika";
}

<h2>Uredi</h2>
<form asp-action="UrediUcenika" method="post" class="col-md-5">

    <div class="row">
        <div class="form-group">
            <label asp-for="UcenikID">KorisnikID:</label>
            <input asp-for="UcenikID" type="text" style="display:none" readonly class="form-control" value="@Model.UcenikID" />
        </div>
        <div class="form-group">
            <label asp-for="Ime"></label>
            <input asp-for="Ime" type="text" class="form-control" value="@Model.Ime" />
        </div>

        <div class="form-group">
            <label asp-for="Prezime"></label>
            <input asp-for="Prezime" type="text" class="form-control" value="@Model.Prezime" />
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="Telefon"></label>
            <input asp-for="Telefon" class="form-control" value="@Model.Telefon" />
        </div>

        <div class="form-group">
            <label asp-for="GradID">Grad:</label>
            <select asp-for="GradID" asp-items="@Model.Gradovi" class="form-control"></select>
        </div>

        <div class="form-group">
            <label asp-for="RoditeljID">Roditelj:</label>
            <select asp-for="RoditeljID" asp-items="@Model.Roditleji" class="form-control">
                <option value="@Model.RoditeljID"></option>
            </select>
        </div>       

        <div class="form-group">
            <label asp-for="DatumRodjenja">DatumRodenja:</label>
            <input asp-for="DatumRodjenja" type="date"  class="form-control" value="@Model.DatumRodjenja" />
        </div>

        <div class="form-group">
            <label asp-for="Username">Korisnicko Ime:</label>
            <input asp-for="Username" class="form-control" value="@Model.Username" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Lozinka:</label>
            <input asp-for="Password" class="form-control" value="@Model.Password" />
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Uredi</button>
</form>
