@model RoditeljDodajViewModel
@{
    ViewData["Title"] = "Uredi";
}

<div class="modal fade" id="urediRoditelj" tabindex="-1" role="dialog" aria-labelledby="urediRoditeljLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="urediRoditeljLabel">Uredi ucenika</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form asp-action="UrediRoditelja" method="post" class="col-sm-offset-2 col-sm-8" enctype="multipart/form-data">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="row">
                            <div class="form-group">
                                <input asp-for="RoditeljID" type="text" style="display:none" readonly class="form-control" value="@Model.RoditeljID" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Ime"></label>
                                <input asp-for="Ime" type="text" class="form-control" value="@Model.Ime" />
                                <span asp-validation-for="Ime" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Prezime"></label>
                                <input asp-for="Prezime" type="text" class="form-control" value="@Model.Prezime" />
                                <span asp-validation-for="Prezime" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefon"></label>
                                <input asp-for="Telefon" class="form-control" value="@Model.Telefon" />
                                <span asp-validation-for="Telefon" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="GradID">Grad:</label>
                                <select asp-for="GradID" asp-items="@Model.Gradovi" class="form-control"></select>
                            </div>

                            

                           

                            <div class="form-group">
                                @Html.TextBoxFor(model => model.DatumRodjenja, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @value = Model.DatumRodjenja })
                                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Username">Korisnicko Ime:</label>
                                <input asp-for="Username" class="form-control" value="@Model.Username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Lozinka:</label>
                                <input asp-for="Password" class="form-control" value="@Model.Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>

            </div>
        </div>
    </div>
</div>


<script>
     $(function () {

            $('button[data-save="modal"]').click(function (event) {

                event.preventDefault();
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");

                var dataToSend = new FormData(form.get(0));

                $.ajax({ url: actionUrl, method: 'post', data: dataToSend, processData: false, contentType: false }).
                    done(function (data) {
                        var newBody = $('.modal-body', data);
                        $("#urediRoditelj").find('.modal-body').replaceWith(newBody);

                        if (newBody.find('[name="IsValid"]').val()!="False") {

                        $('.modal').modal('hide');

                        $.get("@Url.Action("tabelaRoditelji","Roditelj")", function (rezultat, status) {

                            $("#tabelaID").html(rezultat);
                         });
                        }

                    });




            });

        });
</script>
