@model RoditeljDodajViewModel
@{
    ViewData["Title"] = "Uredi";
}

<h2>Uredi</h2>
<form asp-action="UrediRoditelja" method="post">

    <div class="row">
        <div class="form-group" style="display:none">
            <label asp-for="RoditeljID">RoditeljID:</label>
            <input asp-for="RoditeljID" type="text" readonly class="form-control" value="@Model.RoditeljID" />
        </div>
        <div class="form-group">
            <label asp-for="Ime">Ime:</label>
            <input asp-for="Ime" type="text" class="form-control" value="@Model.Ime" />
        </div>

        <div class="form-group">
            <label asp-for="Prezime">Prezime:</label>
            <input asp-for="Prezime" type="text" class="form-control" value="@Model.Prezime" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="Telefon">Telefon:</label>
            <input asp-for="Telefon" class="form-control" value="@Model.Telefon" />
        </div>

         <label asp-for="GradID">Grad:</label>
        <select asp-for="GradID" class="form-control">
            @foreach (var o in Model.Gradovi)
            {

                <option value="@o.Value">@o.Text</option>
            }
        </select>

        <div class="form-group">
            <label asp-for="DatumRodjenja">DatumRodenja:</label>
            <input asp-for="DatumRodjenja" type="date" class="form-control" value="@Model.DatumRodjenja" />
        </div>

        <div class="form-group">
            <label asp-for="Username">KorisnickoIme:</label>
            <input asp-for="Username" class="form-control" value="@Model.Username" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Lozinka:</label>
            <input asp-for="Password" class="form-control" value="@Model.Password" />
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Uredi</button>
</form>
