@model ListaPredmetaNastavniPlanVM
@{
    ViewData["Title"] = "Detalji";
}

<h2 class="text-center">@Model.Naziv</h2>


<table  class="table table-bordered">
   <thead>
       <tr>
           <th>Naziv predmeta</th>
           <th>Broj casova</th>
           <th>Nastavnik</th>
           <th>Akcija</th>
       </tr>
   </thead>

   <tbody>
       @foreach (var item in Model.Angazovani)
    {
        if (item != null)
         {
    
           <tr>
               <td>@item.NazivPredmeta</td>
               <td>@item.BrojCasova</td>
               <td>@item.NazivNastavnika</td>
               <td><a asp-action="ObrisiPredmet" asp-route-id="@item.AngazovanID" class="btn btn-info"> Obrisi angazman</a></td>
           </tr>
         }

}
   </tbody>
</table>




