@model NastavnikIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a asp-action="DodajNastavnika" class="btn btn-default">Dodaj</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Titula</th>
            <th>Zvanje</th>
            <th>Datum zaposljenja</th>
            <th>Username</th>
            <th>Password</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Nastavnici)
        {
        <tr>
            <td>@s.ImePrezime</td>
            <td>@s.Titula</td>
            <td>@s.Zvanje</td>
            <td>@s.DatumZaposljenja</td>
            <td>@s.Username</td>
            <td>@s.Password</td>
            <td>
                <form asp-action="Obrisi" method="post">
                    <input hidden name="NastavnikID" value="@s.NastavniID" />
                    <button type="submit" class="btn btn-danger">Obrisi</button>
                </form>
            </td>
            <td>
                <a asp-action="Uredi" asp-route-id="@s.NastavniID" class="btn btn-info">Uredi</a>
            </td>
        </tr>
        }
    </tbody>
</table>
