@model NastavnikGradViewModel
@{
    ViewData["Title"] = "Uredi";
}

<h2>Uredi</h2>
<form asp-action="UrediNastavnika" method="post">

    <div class="row">
        <div class="form-group">
            <label asp-for="NastavniID">NastavnikID:</label>
            <input asp-for="NastavniID" type="text" readonly style="display:none" class="form-control" value="@Model.NastavniID" />
        </div>

        <div class="form-group">
            <label asp-for="Titula">Titual:</label>
            <input asp-for="Titula" class="form-control"  value="@Model.Titula"/>
        </div>

        <div class="form-group">
            <label asp-for="Ime">Ime:</label>
            <input asp-for="Ime" type="text" class="form-control" value="@Model.Ime" />
        </div>

        <div class="form-group">
            <label asp-for="Prezime">Prezime:</label>
            <input asp-for="Prezime" type="text" class="form-control" value="@Model.Prezime" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="Telefon">Telefon:</label>
            <input asp-for="Telefon" class="form-control" value="@Model.Telefon" />
        </div>

        <label asp-for="GradID">Grad:</label>
        <select asp-for="GradID" class="form-control">
            @foreach (var o in Model.Gradovi)
        {

            <option value="@o.Value">@o.Text</option>
    }
        </select>

        
       

        <div class="form-group">
            <label asp-for="Zvanje">Zvanje:</label>
            <input asp-for="Zvanje" class="form-control" value=@Model.Zvanje/>
        </div>

        <div class="form-group">
            <label asp-for="Username">KorisnickoIme:</label>
            <input asp-for="Username" class="form-control" value="@Model.Username" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Lozinka:</label>
            <input asp-for="Password" class="form-control" value="@Model.Password" />
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Uredi</button>
</form>
