@model PaginatedList<OdjeljenjeIndexVM.Row>




<button type="button" title="Dodaj" class="btn btn-info" data-toggle="ajax-modal" data-target="#dodajOdljeljenje"
        data-url="@Url.Action("DodajOdjeljenje","Odjeljenje")">
   Dodaj odjeljenje
</button>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Oznaka</td>
            <td>Kpacitet</td>
            <td>Razrednik</td>
            <td>Predstavnik</td>
            <td>Akcija</td>

        </tr>       
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Oznka</td>
                <td>@item.Kapacitet</td>
                <td>@item.Razrednik</td>
                <td>@((item.Predstavnik == null) ? "Nema predstavnika" : item.Predstavnik)</td>
                <td>
                    <a asp-action="Uredi" asp-route-id="@item.OdjeljenjeID">Uredi</a>
                    <a asp-action="Obrisi" asp-route-OdjeljenjeID="@item.OdjeljenjeID">Obrisi</a>
                    <a asp-action="Detalji" asp-route-id="@item.OdjeljenjeID">Detalji</a>
                    
                </td>
            </tr>
        }

    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<div style="padding:15px">
    <button id="Nazad" class="btn btn-default @prevDisabled" @prevDisabled>
        Previous
    </button>
    <button id="Naprijed" class="btn btn-default @nextDisabled"@nextDisabled >
        Next
    </button>
</div>


<script>

    $(function () {

        $('button[data-toggle="ajax-modal"]').click(function (event) {

            var url = $(this).attr('data-url');
            var placeholder = $('#modalDiv');

            $.ajax({
                url: url, success: function (result) {
                    placeholder.html(result);
                    placeholder.find('.modal').modal('show');
                }
            });

        });
    });

    $(function () {
        $("#Nazad").click(function (parametars) {


            var godinaStudija = $("#godina").val();
            var razred = $("#razred").val();
            console.log($("#ImalRazrednik").val());
            if ($("#ImalRazrednik").val() != null) {

                var imalRazrednika = $("#ImalRazrednik").is(':checked');
            }
            if ($("#ImalPredstavnik").val() != null) {
                var imalPredstavnika = $("#ImalPredstavnik").is(':checked');
            }

            var Url;

            if (provjeriOVO == 1) {

                Url = "/AdministratorModul/Odjeljenje/OdljenjenjeTabela/?page=@(Model.PageIndex-1)" + "&&godinaStudijaId=" + godinaStudija + "&&razredID=" + razred + "&&imalRazrednika=" + imalRazrednika + "&&imalPredstvnika=" + imalPredstavnika;
            }
            else {
                Url = "/AdministratorModul/Odjeljenje/OdljenjenjeTabela/?page=@(Model.PageIndex-1)";
            }

            $.get(Url, function (rezultat, status) {

                $("#ajaxDiv").html(rezultat);
            });
        });


       

        $("#Naprijed").click(function (parametars) {


            var godinaStudija = $("#godina").val();
            var razred = $("#razred").val();
            if ($("#ImalRazrednik").val() != null) {

                var imalRazrednika = $("#ImalRazrednik").is(':checked');
            }
            if ($("#ImalPredstavnik").val() != null) {
                var imalPredstavnika = $("#ImalPredstavnik").is(':checked');
            }

            var Url;

            if (provjeriOVO === 1) {

                Url = "/AdministratorModul/Odjeljenje/OdljenjenjeTabela/?page=@(Model.PageIndex+1)" + "&&godinaStudijaId=" + godinaStudija + "&&razredID=" + razred + "&&imalRazrednika=" + imalRazrednika + "&&imalPredstvnika=" + imalPredstavnika;
            }
            else {
                Url = "/AdministratorModul/Odjeljenje/OdljenjenjeTabela/?page=@(Model.PageIndex+1)";
            }

            $.get(Url, function (rezultat, status) {

                $("#ajaxDiv").html(rezultat);
            });
        });
    });
    </script>



