@model RasporedDetaljVM
@{
    ViewData["Title"] = "UrediRaspored";
}



<div class="container-fluid">
    <form asp-action="DodajDetalj" method="post">
        <div class="row">
            <input asp-for="RasporedID" value="@Model.RasporedID" hidden/>
            <div class="form-group col-sm-4">
                <label asp-for="PredmetId"></label>
                <select asp-for="PredmetId" asp-items="@Model.Predmet" class="form-control">
                    
                </select>
            </div>

            <div class="form-group col-sm-4">
                <label asp-for="Dan"></label>
                <select asp-for="DanId" asp-items="@Model.Dan" class="form-control"></select>
            </div>

            <div class="form-group col-sm-4">
                <label asp-for="PocetakCasaId"></label>
                <select asp-for="PocetakCasaId" asp-items="@Model.PocetakCasa" class="form-control"></select>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Dodaj</button>
    </form>
</div>

<div id="raspored"></div>

<script>
    $(document).ready(function (parametars) {

        $.get("@Url.Action("CitavRaspored", "Raspored", new { RasporedID = Model.RasporedID })", function (rezultat, status) {

            $("#raspored").html(rezultat);
        });

    });

</script>